body {
  margin: 0px auto;
}

header {
  margin: 40px 0;
}

.photograph-header {
  margin: 10px 100px 50px 100px;
}
.main-profil-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.encart {
  position: fixed;
  background-color: #db8876;
  border-radius: 5px 5px 0 0;
  padding: 0 20px;
  width: 380px;
  height: 55px;
  bottom: 0px;
  right: 120px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.encart_div-like {
  display: flex;
  align-items: center;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.contact_button:hover {
  background-color: #db8876;
  color: black;
}

.card_name-spe {
  color: #d3573c;
  font-size: 44px;
  margin: 0px;
  font-weight: 400;
}

.card_location-spe {
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
  margin: 0px;
}

.card_slogan-spe {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}

#contact_modal {
  display: none;
  position: fixed;
  margin: 0 auto;
  height: 77vh;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 10;
}
#contact_modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #80808059;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 60%;
  height: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin: auto;
  box-sizing: border-box;
}

.modal header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 44px;
  margin: 0;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.formulaire {
  height: 100%;
  width: 99%;
  border: none;
  padding: 0;
  margin: 0;
}

.contact_input {
  font-size: 20px;
}
form label {
  color: #312e2e;
  font-size: 26px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  height: 38px;
  border: none;
  border-radius: 5px;
}
#message {
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 5px;
}

.envoyer_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 30px;
}
.envoyer_button:hover {
  background-color: #312e2e;
}

.photograph-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 80px;
  row-gap: 5px;
  max-width: 1440px;
  margin: 0 auto;
}

.media_container {
  width: 350px;
  height: 350px;
  margin: 15px;
}

.media_image {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.media_video {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.media_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}

.media_text-description {
  font-size: 20px;
  margin: 0px;
}

.media_text-like {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #fff;
  border: none;
  font-size: 16px;
  color: #901c1c;
  cursor: pointer;
}

.media_text-like p {
  margin: 0 7px 0 0;
}

@media screen and (max-width: 1000px) {
  .main-profil-container {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 40px;
    align-items: center;
  }
  .photograph-header {
    margin: 0 20px 40px 20px;
  }
  article {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 95%;
  }
  .modal header h2 {
    font-size: 30px;
  }
  .encart {
    text-align: center;
    width: 70%;
    right: 10.5vw;
  }
}
